@(entityType: String, fieldName: String, label: String, placeholder: String, hint: Html = Html(""))
<div class="control-group" ng-class="{error: rpcResult.error.data.@fieldName}">
  <label for="@{entityType}-@{fieldName}" class="control-label">@label</label>
  <div class="controls">
    <input ng-model="@{entityType}.@fieldName" id="@{entityType}-@{fieldName}" type="password" name="@fieldName" placeholder="@placeholder" />
    @hint
    <span ng-show="rpcResult.error.data.@fieldName">
      <span ng-repeat="error in rpcResult.error.data.@fieldName" class="help-inline" ng-bind="error"></span>
    </span>
  </div>
</div>
